.mnif-show-space
    display: none
    position: absolute
    width: 20%
    height: 20%
    opacity: 0.7
    box-sizing: border-box
    .panel-body
        padding: 0
    &.panel-primary
        border-radius: 0
    .mnif-draggable
        position: absolute
        background: #000
        box-sizing: border-box