.rif-show-dimensions {
    display: none;
    position: absolute;
    opacity: 0.7;
    box-sizing: border-box;
}

.rif-show-dimensions .panel-body {
    
}

.rif-show-dimensions.panel-primary {
    border-radius: 0;
}

.rif-show-dimensions .rif-width,
.rif-show-dimensions .rif-height,
.rif-show-dimensions .rif-width:hover,
.rif-show-dimensions .rif-height:hover,
.rif-show-dimensions .rif-width:active,
.rif-show-dimensions .rif-height:active {
    background: transparent;
    border-radius: 0;
    width: 75px;
    text-align: right;
    box-shadow: none;
    color: #000;
    border-color: #adadad;
}