.gc__manager-fields {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 42px;
    width: 100%;
    background-color: #fff;
    padding: 10px 15px;
    overflow: auto;
}

.gc__manager-fields .option-editor {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.gc__manager-fields .option-editor.input-error {
    border: 1px solid #c00;
}

.gc__manager-fields .add-src-image .row {
    margin-top: 5px;
}

.gc__manager-fields .add-src-image .col-xs-6:nth-of-type(1) {
    padding-right: 5px;
}

.gc__manager-fields .add-src-image .col-xs-6:nth-of-type(2) {
    padding-left: 5px;
}

.gc__manager-fields .add-selector .btn-group-justified {
    margin-top: 5px;
}

.gc__manager-fields .ui-spinner .ui-spinner-button {
    display: none;
}