.gc-wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.gc.panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
}

.gc > .panel-body {
    overflow: auto;
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    bottom: 0;
}

.gc .panel-heading .btn-clear {
    float: right;
    margin-top: -4px;
}

.gc .btn-trigger-tooltip .glyphicon-question-sign,
.gc .btn-trigger-helper .glyphicon-question-sign {
    color: #5BC0DE;
}

.gc hr {
    margin: 10px 0;
    clear: both;
}

.gc .row-header {
    position: relative;
    height: 34px;
}

.gc .row-header h5 {
    padding-left: 10px;
}

.gc .row-header .col-dop-item {
    position: absolute;
    top: 0;
    right: 15px;
}

/*Чтоб текст подсказочек отображался нормально*/
.twitter-bootstrap-3 .btn [data-toggle='tooltip'] ~ .tooltip {
    text-shadow: none;
    white-space: normal;
}