.file-manager {
    position: relative;
}

.file-manager, .file-manager .row-fluid, .file-manager .panel,
.file-manager .row-main > div {
    height: 100%;
}

.file-manager .panel {
    position: relative;
}

.file-manager .panel-body {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 0;
}

.file-manager .panel-body .panel-body {
    top: 0;
}

.file-manager .row-main, .file-manager .row-main > div,
.file-manager .panel-body {
    padding: 5px;
}

.file-manager > .panel > .panel-body {
    padding: 0;
}

.file-manager .scroll-container {
    position: absolute;
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 5px;
}

.file-manager hr {
    margin: 5px 0;
    clear: both;
}

.file-manager.twitter-bootstrap-3 .btn-header button,
.file-manager.twitter-bootstrap-3 .btn-header button:focus {
    outline: none;
}

.file-manager .panel-heading .btn-close,
.file-manager .panel-heading .btn-selected {
    float: right;
    margin-top: -4px;
}

.file-manager .panel-heading .btn-selected {
    margin-right: 15px;
}

/*Колонка "col-left-nav"*/

.file-manager .col-left-nav .home li {
    overflow: hidden;
    position: relative;
    padding-left: 16px;
}

.file-manager .col-left-nav .home > li {
    padding-left: 1px;
}

.file-manager .col-left-nav .home li.selecting > a {
    background-color: #B2DCFF;
}

.file-manager .col-left-nav .home a {
    display: block;
    font: 12px/14px Tahoma, sans-serif;
    color: #000;
    cursor: pointer;
    height: 16px;
    padding-left: 16px;
}

.file-manager .col-left-nav .home > li > a {
    padding-left: 18px;
}

.file-manager .f-close > ul {
    display: none;
}

.file-manager .col-left-nav .home .f-visible > a, .file-manager .col-left-nav .home .f-open > a {
    margin-bottom: 10px;/*cont.animate({height: hA + hUl + 10}, 1000);*/
}

.file-manager .col-left-nav .home .f-visible, .file-manager .col-left-nav .home .f-open {
    padding-bottom: 10px;
}

.file-manager .col-left-nav .home .f-visible > ul > li:before, .file-manager .col-left-nav .home .f-open > ul > li:before {
    content: '';
    position: absolute;
    left: 6px;
    top: 7px;
    width: 9px;
    border-top: 1px dotted #000;
}

.file-manager .col-left-nav .home .f-open.hover > ul > li:before {
    border-top-style: solid;
}

.file-manager .col-left-nav .home .f-visible:after,
.file-manager .col-left-nav .home .f-open:after {
    content: '';
    position: absolute;
    left: 21px;
    top: 14px;
    bottom: 18px;
    border-left: 1px dotted #000;
}

.file-manager .col-left-nav .home > .f-open:after {
    left: 6px;
}

.file-manager .col-left-nav .home .f-open.hover:after {
    border-left: 1px solid #000;
}

.file-manager .col-left-nav .home .disclosures-folder {
    position: absolute;
    left: 0;
    top: -1px;
    z-index: 1;
}

.file-manager .col-left-nav .home .disclosures-folder .fa {
    height: 11px;
}

.file-manager .col-left-nav .fa-minus-square-o,
.file-manager .col-left-nav .fa-plus-square-o {
    background-color: #fff;
    cursor: pointer;
}

.file-manager .col-left-nav .fa:before {
    position: relative;
    top: -1px;
}

.file-manager .col-left-nav .fa-minus-square-o:hover,
.file-manager .col-left-nav .fa-plus-square-o:hover {
    color: red;
}

.file-manager .col-left-nav .home .f-close > .disclosures-folder .fa-minus-square-o,
.file-manager .col-left-nav .home .f-close > .disclosures-folder .fa-folder-open {
    display: none;
}

.file-manager .col-left-nav .home .f-open > .disclosures-folder .fa-plus-square-o,
.file-manager .col-left-nav .home .f-open > .disclosures-folder .fa-folder {
    display: none;
}

.file-manager .col-left-nav .home .f-open > .disclosures-folder .fa-folder-open {
    color: #AF6000;
}

.file-manager .col-left-nav .home .f-close > .disclosures-folder .fa-folder {
    color: #FF8C00;
}

.file-manager .col-left-nav .home .file-ico {
    position: absolute;
    left: 15px;
    top: -2px;
    z-index: 1;
}

.file-manager .col-left-nav .home .file-ico .file-extension {
    display: none;
}

.file-manager .file-ico .fa:before {content: "\f016";}

.file-manager .file-ico[data-file-extension="bz2"] .fa:before,
.file-manager .file-ico[data-file-extension="rar"] .fa:before,
.file-manager .file-ico[data-file-extension="zip"] .fa:before {content: "\f1c6";}

.file-manager .file-ico[data-file-extension="jpg"] .fa:before,
.file-manager .file-ico[data-file-extension="png"] .fa:before,
.file-manager .file-ico[data-file-extension="gif"] .fa:before {content: "\f1c5";}

.file-manager .file-ico[data-file-extension="txt"] .fa:before {content: "\f0f6";}

.file-manager .file-ico[data-file-extension="xml"] .fa:before {content: "\f1c9";}

.file-manager .file-ico[data-file-extension="htm"] .fa:before,
.file-manager .file-ico[data-file-extension="html"] .fa:before {content: "\f1c9";}
.file-manager .file-ico[data-file-extension="htm"],
.file-manager .file-ico[data-file-extension="html"] {color: #FF5C2A;}
.file-manager .file-ico[data-file-extension="css"] .fa:before,
.file-manager .file-ico[data-file-extension="less"] .fa:before {content: "\f1c9";}
.file-manager .file-ico[data-file-extension="css"],
.file-manager .file-ico[data-file-extension="less"] {color: #11A0FF;}
.file-manager .file-ico[data-file-extension="js"] .fa:before {content: "\f1c9";}
.file-manager .file-ico[data-file-extension="js"] {color: #FFB62D;}
.file-manager .file-ico[data-file-extension="php"] .fa:before {content: "\f1c9";}
.file-manager .file-ico[data-file-extension="php"]{color: #8138FF;}

.file-manager .file-ico[data-file-extension="avi"] .fa:before,
.file-manager .file-ico[data-file-extension="mkv"] .fa:before,
.file-manager .file-ico[data-file-extension="mp4"] .fa:before {content: "\f1c8";}

.file-manager .file-ico[data-file-extension="mp3"] .fa:before {content: "\f1c7";}

.file-manager .cursor-folder {
    position: absolute;
    font: 12px/14px Tahoma, sans-serif;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px 5px;
    border-radius: 3px;
    border: 1px solid #000;
    z-index: 10;
}

.file-manager .col-left-nav .home .notexists > a,
.file-manager .col-left-nav .home .unable_to_open_directory > a,
.file-manager .col-left-nav .home .empty > a {
    padding-left: 0;
}

/*Колонка "col-folder-detail"*/

.file-manager .btn-header .bootstrap-select.sort {
    float: right;
}

.file-manager .col-folder-detail .btn-header .list-or-th {
    float: right;
    margin-left: 10px;
}

.file-manager .col-folder-detail .btn-header {
    position: relative;
}

.file-manager .col-folder-detail .scroll-container {
    top: 90px;
}

.file-manager .col-folder-detail .btn-header .breadcrumb {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
}

.file-manager .col-folder-detail ul li,
.file-manager .col-folder-detail ul li * {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file-manager .col-folder-detail ul.th {
    text-align: center;
}

.file-manager .col-folder-detail ul.th li {
    float: left;
    position: relative;
    width: 130px;
    height: 170px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}

.file-manager .col-folder-detail ul.th li:hover {
    border-color: #66afe9;
}

.file-manager .col-folder-detail ul.th li.ui-selecting {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102,175,233,.6), inset 0 0 8px rgba(102,175,233,.6);
}

.file-manager .col-folder-detail ul.th li.ui-selected {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102,175,233,.6), inset 0 0 8px rgba(102,175,233,.6);
}

.file-manager .col-folder-detail ul.th .create-time,
.file-manager .col-folder-detail ul.th .modified-time,
.file-manager .col-folder-detail ul.th .size-image,
.file-manager .col-folder-detail ul.th .size-file .text {
    display: none;
}

.file-manager .col-folder-detail ul.th .disclosures-folder {
    display: block;
    margin: 23px auto 0;
}

.file-manager .col-folder-detail ul .disclosures-folder > i {
    display: none;
}

.file-manager .col-folder-detail ul.th .disclosures-folder > .fa-folder {
    display: block;
    font-size: 90px;
    color: #FF8C00;
}

.file-manager .col-folder-detail ul.th li.ui-selected .disclosures-folder > .fa-folder {
    color: #AF6000;
}

.file-manager .col-folder-detail ul.th li.folder.ui-selected {
    background-color: #eee;
}

.file-manager .col-folder-detail ul.th .file.file-image .file-ico {
    display: none;
}

.file-manager .col-folder-detail ul.th .file-ico {
    display: block;
    margin: 14px auto 0;
    width: 118px;
    height: 118px;
    position: relative;
    overflow: hidden;
}

.file-manager .col-folder-detail ul.th .file-ico .fa:before {
    font-size: 100px;
}

.file-manager .col-folder-detail ul.th .file-ico .file-extension {
    position: absolute;
    left: 3px;
    top: 14px;
    border: 5px solid #333;
    border-radius: 5px;
    background-color: #fff;
    font: 20px/20px Tahoma, sans-serif;
    padding: 4px 2px;
}

.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="xml"] .fa:before {content: "\f016";}

.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="htm"] .fa:before,
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="html"] .fa:before {content: "\f016";}
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="htm"],
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="html"] {color: #C74821;}
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="htm"] .file-extension,
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="html"] .file-extension {border-color: #C74821;}

.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="css"] .fa:before,
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="less"] .fa:before {content: "\f016";}
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="css"],
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="less"] {color: #0D7DC7;}
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="css"] .file-extension,
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="less"] .file-extension {border-color: #0D7DC7;}

.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="js"] .fa:before {content: "\f016";}
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="js"] {color: #C78E23;}
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="js"] .file-extension {border-color: #C78E23;}

.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="php"] .fa:before {content: "\f016";}
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="php"] {color: #652CC7;}
.file-manager .col-folder-detail ul.th .file-ico[data-file-extension="php"] .file-extension {border-color: #652CC7;}

.file-manager .col-folder-detail ul.th li.file.ui-selected {
    background-color: #eee;
}

.file-manager .col-folder-detail ul.th li.file.ui-selected .file-ico {
    opacity: 0.7;
}

.file-manager .col-folder-detail ul.th .file.file-image .size-image {
    display: block;
}

.file-manager .col-folder-detail ul.th a {
    font: 12px/14px Tahoma, sans-serif;
    color: #000;
    display: block;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    top: 145px;
    left: 5px;
    right: 5px;
    height: 20px;
    padding: 2px;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.file-manager .col-folder-detail ul.th li:hover > a {
    word-wrap: break-word;
    white-space: normal;
    height: auto;
    z-index: 10;
}

.file-manager .col-folder-detail ul.th .size-image {
    position: absolute;
    top: 0;
    right: 5px;
    font: 10px/12px Tahoma, sans-serif;
    color: #000;
}

.file-manager .col-folder-detail ul.th .size-file {
    display: block;
    position: absolute;
    top: 137px;
    left: 5px;
    right: 5px;
    height: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
}

.file-manager .col-folder-detail ul.th .size-file .visual-effect {
    height: 100%;
    display: block;
}

.file-manager .col-folder-detail ul.th .size-file.size-bites {border-color: #ccc;}
.file-manager .col-folder-detail ul.th .size-file.size-bites .visual-effect {background-color: #ddd;}
.file-manager .col-folder-detail ul.th .size-file.size-kilobytes {border-color: #46B8DA;}
.file-manager .col-folder-detail ul.th .size-file.size-kilobytes .visual-effect {background-color: #5BC0DE;}
.file-manager .col-folder-detail ul.th .size-file.size-megabytes {border-color: #EEA236;}
.file-manager .col-folder-detail ul.th .size-file.size-megabytes .visual-effect {background-color: #F0AD4E;}
.file-manager .col-folder-detail ul.th .size-file.size-gigabytes {border-color: #D43F3A;}
.file-manager .col-folder-detail ul.th .size-file.size-gigabytes .visual-effect {background-color: #D9534F;}

.file-manager .col-folder-detail ul.th .img-wrap {
    display: block;
    margin: 14px auto 0;
    width: 118px;
    height: 118px;
    border: 1px solid #337AB7;
    overflow: hidden;
}

.file-manager .col-folder-detail ul.th .img-wrap .img-table {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    background: url('img/fon-for-png.png');
}

.file-manager .col-folder-detail ul.th .img-wrap .img-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.file-manager .col-folder-detail ul.th .glyphicon-zoom-in.img-zoom {
    display: none;
}

.file-manager .col-folder-detail ul.th .glyphicon-zoom-in.img-zoom.active {
    display: inline;
    position: absolute;
    left: 4px;
    top: -2px;
}

.file-manager .col-folder-detail ul.th .glyphicon-zoom-in.img-zoom.active:before {
    font-size: 10px;
    line-height: 12px;
    color: #c00;
}

.file-manager .col-folder-detail ul.th .glyphicon-zoom-in.img-zoom.active.zoom-2x span:after {
    content: '2x';
    position: relative;
    top: -2px;
    left: 1px;
    font: 10px/12px Tahoma, sans-serif;
    color: #c00;
}

.file-manager .col-folder-detail .scroll-container h2.notexists,
.file-manager .col-folder-detail .scroll-container h2.unable_to_open_directory {
    color: #c00;
}

.file-manager .col-folder-detail .scroll-container h2.empty {
    color: #999;
}

.file-manager .col-folder-detail ul.list {
    font: 12px/14px Tahoma, sans-serif;
    color: #000;
}

.file-manager .col-folder-detail ul.list li {
    position: relative;
    clear: both;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
}

.file-manager .col-folder-detail ul.list li:nth-child(odd) {
    background-color: #eee;
}

.file-manager .col-folder-detail ul.list a {
    display: block;
    color: #000;
    cursor: pointer;
    margin-left: 19px;
    margin-right: 342px;
    word-wrap: break-word;
    white-space: normal;
}

.file-manager .col-folder-detail ul.list a ~ * {
    height: 100%;
}

.file-manager .col-folder-detail ul.list a ~ *:before {
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    bottom: 0;
    border-left: 1px solid #999;
}

.file-manager .col-folder-detail ul.list .disclosures-folder:before, .file-manager .col-folder-detail ul.list .file-ico:before {
    display: none;
}

.file-manager .col-folder-detail ul.list .disclosures-folder,
.file-manager .col-folder-detail ul.list .file-ico {
    position: absolute;
    left: 2px;
    top: -2px;
}

.file-manager .col-folder-detail ul.list .disclosures-folder > .fa-folder {
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #FF8C00;
}

.file-manager .col-folder-detail ul.list .file-ico > .fa {
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857143;
}

.file-manager .col-folder-detail ul.list .file-ico .file-extension, .file-manager .col-folder-detail ul.list .size-file .visual-effect {
    display: none;
}

.file-manager .col-folder-detail ul.list .size-file {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    text-align: right;
    padding-right: 2px;
}

.file-manager .col-folder-detail ul.list .size-file.size-bites .text:after {content: ' b';}
.file-manager .col-folder-detail ul.list .size-file.size-kilobytes .text:after {content: ' Kb';}
.file-manager .col-folder-detail ul.list .size-file.size-megabytes .text:after {content: ' Mb';}
.file-manager .col-folder-detail ul.list .size-file.size-gigabytes .text:after {content: ' Gb';}

.file-manager .col-folder-detail ul.list .modified-time, .file-manager .col-folder-detail ul.list .create-time {
    position: absolute;
    top: 0;
    right: 65px;
    width: 100px;
}

.file-manager .col-folder-detail ul.list .create-time {
    right: 170px;
}

.file-manager .col-folder-detail ul.list .glyphicon-zoom-in.img-zoom, .file-manager .col-folder-detail ul.list .img-wrap {
    display: none;
}

.file-manager .col-folder-detail ul.list .size-image {
    display: none;
}

.file-manager .col-folder-detail ul.list .file-image .size-image {
    display: block;
    position: absolute;
    top: 0;
    right: 275px;
    width: 62px;
    text-align: center;
}

.file-manager .col-folder-detail ul.list .file-image .size-image .w, .file-manager .col-folder-detail ul.list .file-image .size-image .h {
    display: inline-block;
    width: 28px;
    text-align: right;
}

.file-manager .col-folder-detail ul.list li.ui-selecting {
    background-color: #D5ECFF;
}

.file-manager .col-folder-detail ul.list li.folder.ui-selected,
.file-manager .col-folder-detail ul.list li.file.ui-selected {
    background-color: #B2DCFF;
}

.file-manager .col-folder-detail ul.list li.ui-selected .disclosures-folder > .fa-folder {
    color: #AF6000;
}

/*Колонка "col-big-img"*/

.file-manager .col-big-img .btn-header .zoom label {
    width: 40px;
    padding-left: 0;
    padding-right: 0;
}